
.segment__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    transition: width height 20s ease-in-out
}

.segment__container:hover {
    width: 200px;
    height: 200px;
    transition: all 0.9s ease-in;
}

.quantity--valid {
    font-size: x-large;
    color: white;
}

.quantity--invalid {
    font-size: x-large;
    color: red;
}

.date__container {
    border: solid blue 1px;
    border-radius: 12px;
    width: 80%;
    transition: all 0.9s ease-in;
}

.date__text {
    color: blue;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    transition: all .9s ease-in;
}

.segment__container:hover > .date__container > .date__text {
    font-size: 24px;
}

.segment--now {
    background-color: #A5D49E;
}

.segment--future-1 {
    background-color: #9CB37F;
}

.segment--future-2 {
    background-color: #522A28;
}

.segment--future-3 {
    background-color: #C73E1C;
}

.segment--future-4 {
    background-color: #C59749;
}